$bgcolor: #0f0f0f;
$textcolor: rgb(240, 240, 248);
$primarycolor: red;
*{
    font-family: Bebas Neue sans-serif;
    background-color: $bgcolor;
    color: $textcolor;
    margin: 0;
    padding: 0;
}